<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--FOR LOADER SETTINGS, SIDC POS CONNECTION-->
    <add name="DBHost" connectionString="localhost" />
    <add name="DBUser" connectionString="root" />
    <add name="DBName" connectionString="sofos" />
    <add name="DBPassword" connectionString="FMNCWAa6B4Jwisw/PjRYPw==" />
    <!--END-->
    
    <!--FOR EXTRACTOR ONLY, SAP CONNECTION-->
    <add name="SAPDBHost" connectionString="192.168.1.72:30015"/>
    <add name="SAPDBUser" connectionString="SYSTEM"/>
    <add name="SAPDBName" connectionString="SIDCDB" />
    <add name="SAPPassword" connectionString="nU0rQSF4w/G+Vn/wFVgS+Q=="/>
    <!--END-->

  </connectionStrings>

<appSettings>
  
    <add key="Init" value="true"/>
    <add key="BranchName" value="BranchName"/>
    
    <!--FOR EXTRACTOR SETTINGS-->
    <add key="SAPasDefaultConnection" value="false"/>
    <add key="UseGoogleDrive" value="false"/>
    <add key="FilesHerePathFormat" value="/Files/Here/Spoon"/>
    <!--END-->
  
    <!--FOR LOADER SETTINGS-->
    <add key="CSVPathSource" value="C:\Spoon\Files"/>
    <add key="UpdateCostInRecording" value="false"/>
    <!--END-->

</appSettings>

</configuration>